\:root
  --background: #090E11
  --text: #D8D9DA
  --dark-text: #343B41
  --bg-alt: #11171b

body
  padding: 0
  margin: 0
  color: var(--text)
  background-color: var(--background)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


#root, body, html, .App
  overflow: hidden
  height: 100%

*
  font-family: 'Ubuntu',  sans-serif
  box-sizing: border-box

img
  user-select: none


.App
    display: flex
    flex-direction: column
    align-items: center
    justify-content:  space-between

.footer
    padding-bottom: 30px
    text-align: center
    color: var(--dark-text)

    span
        color: var(--placeholder)

    @media only screen and (max-width: 900px)
        display: none

a
    color: var(--dark-text)
    transition: 0.5s

    &:hover
        color: var(--accent)

    &.buttonLink
        display: inline-block
        padding: 8px 15px
        border-radius: 12px
        color: white
        text-decoration: none
        background: var(--dark-text)

        &:hover
            background: var(--bg-alt)

img
  user-select: none
