:root {
  --background: #101011;
  --text: #E7E9EE;
  --bright-bg: #18181a;
  --placeholder: #4b4a4a;
  --accent: #EE3636;
}


body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
}

.wrapper {
  clear: both;
  min-height: 600px;
  height: 100vh;
  width: 100%;
}