extends /layout.pug

block head
    link(rel="stylesheet", href="/public/css/chat.css")
    title Mindall - Чат
block content
    div.container
        div.login
            form
                label(for="username")
                input(name="username" id="username" placeholder="Введите имя" autofocus)
                button#loginBtn Войти
        div.chat-container.hidden
            div#users.user-list
            div.chat
                div.messages
                    .wrapper#messages
                form.message-box
                    input(placeholder="Ваше сообщение" autocomplete="off").message-input#messageText
                    button.send-message#sendBtn(disabled) Отправить
    script(src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous")
    script(src="/public/js/chat.js") 