extends /layout.pug

block head
    title Mindall - шифр
block content
    div.container
        div.results
            textarea(readonly)#result Миндаль - хайповый шифр для крутых пацанов на основе таблицы Менделеева.
            button.result-button#copyResultBtn Скопировать
            button.result-button#clearInputBtn Очистить
        form.cipher-form
            div#encodeForm.input-container 
                label(for="message") 
                input(type="text", name="message", placeholder="Текст", autocomplete="off")#encodeMessage
            div#decodeForm.input-container.hidden
                label(for="code")
                input(type="text", name="code", placeholder="Шифр", autocomplete="off")#decodeMessage
        button#switchModesBtn Сменить режим
    script(defer src="/public/js/index.js")