doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="Миндаль - хайповый шифр для крутых пацанов на основе таблицы Мендлеева.")
        meta(name="keywords" content="миндаль, мендеелев, Менделеев, шифр, cipher, periodic table, периодическая таблица")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="og:image" content="https://mindall.herokuapp.com/public/lock.png")
        meta(name="og:title" content="Миндаль")
        meta(name="og:description" content="Миндаль - хайповый шифр для крутых пацанов на основе таблицы Мендлеева.")
        link(rel="stylesheet", href="/public/css/main.css")
        script(defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js") 

        block head
    body
        header
            h2.logo
                a(href="/") Mindall
            div.links
                button
                    a(href="/chat") Чат
        block content