@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --accent: #b3274c;
    --accent-alt: #1b1b1b;
    --background: #14132b;
    --background-alt: #1c1a3f;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: white;
    margin: 0;
    background-color: var(--background);
    width: 100vw;
}

header {
    display: inline;
    width: 100%;
    text-indent: 10px;
    color: var(--accent);
}

.input-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.input-container.hidden {
    display: none;
}

.input-container input {
    border: 2px solid var(--accent);
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 12px;
    width: 55%;
    margin-bottom: 15px;
}
input:focus {
    outline: none;
}

button {
    color: white;
    background-color: var(--accent);
    border: none;
    padding: 15px 25px;
    border-radius: 12px;
}

button:hover {
    background-color: var(--accent-alt);
}
.cipher-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 600px;
    margin-bottom: 50px;
    margin-top: auto;
}

#switchModesBtn {
    /* margin-top: auto; */
    margin-bottom: 20px;
}

.results {
    position: relative;
    width: 70%;
    height: 50%;
    max-height: 400px;
    display: flex;
    justify-content: center;
}

#result {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-alt);
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    resize: none;
    outline: none;
}
.result-button {
    position: absolute;
    top: auto;
    bottom: -10px;
    padding: 5px;
}

#copyResultBtn {
    right: 10px;
}
#clearInputBtn {
    left: 10px;
}

@media only screen and (max-width: 600px) {
    .results {
        width: 90%;
        height: 30%;
    }
    header {
        width: auto;
    }
    .cipher-form {
        margin-top: 50px;
        margin-bottom: auto;
        width: 90%;
        margin-bottom: 0px;
    }
    .input-container input {
        width: 70%;
    }

    #switchModesBtn {
        margin-top: 15px;
        margin-bottom: auto;
    }

    button:hover {
        background: var(--accent);
    }
}
