.history-header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.history-header span {
    padding-right: 25px;
    font-size: 35px;
}

.history-header img {
    cursor: pointer;
    margin-left: 25px;
    width: 35px;
}

.history-header img:hover {
    opacity: 0.8;
}

.history-menu {
    padding: 20px 15px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-btn {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn:hover {
    opacity: 0.6;
}

.menu-btn img {
    width: 37px;
}