.list {
    margin: auto;
    margin-right: 0;
    height: calc(100% - 75px);
    padding: 0;
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-color: var(--accent) var(--background);
    scrollbar-width: thin;
}


.list div {
    user-select: none;
    cursor: pointer;
    margin: auto;
    border-bottom: 1px solid var(--placeholder);
    margin-bottom: 10px;
}

.list div:last-child {
    border: 0px;
}

.list div:hover {
    opacity: 0.5;
}

.list div span {
    padding: 0 5px;
}

.original {
    color: var(--text);
    font-size: 30px;
}

.translated {
    text-overflow: ellipsis;
    font-size: 20px;
    color: var(--placeholder)
}

.empty {
    font-size: 30px;
    color: var(--placeholder);

}