.translate-form
    display: flex
    flex-direction: column
    margin: 0 auto

.mode-swapper
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 0px 20px
    font-size: 20px
    margin-bottom: 35px

    span
        display: inline-block
        width: 100px

        &:last-child
            text-align: end

    & img
        width: 20px
        cursor: pointer
        margin: 0px 50px
        left: 0
        right: 0

.results
    position: relative
    max-width: 900px
    display: flex
    width: 100%

textarea
    font-family: "Ubuntu", sans-serif
    box-sizing: border-box
    width: 100%
    resize: none
    outline: none
    font-size: 25px
    padding: 10px 30px
    background-color: var(--bright-bg)
    border: none
    color: var(--text)
    border-top: 20px solid var(--bright-bg)
    border-bottom: 20px solid var(--bright-bg)
    scrollbar-color: var(--bright-bg)
    border-radius: 15px

    &::placeholder
        font-family: "Ubuntu", sans-serif
        color: var(--placeholder)


.inputContainer
    position: relative

    &:last-child
        margin-top: 20px

    .inputButtons
        cursor: pointer
        padding: 10px
        border-radius: 10px
        margin: 20px 30px
        right: 0
        bottom: 0
        z-index: 1
        display: flex
        position: absolute

        &:hover
            background: var(--dark-text)

        img
            width: 25px

@media only screen and (max-width: 900px)
    .translate-form
        display: flex
        margin-top: 30px
        padding-bottom: 20px
        width: 90%

    .mode-swapper
        justify-content: center
        font-size: 18px
        width: 100%

    .results
        flex-direction: column
        position: relative
        align-items: center
        width: 90%
        max-height: 500px
        margin: auto

        textarea
            height: 300px
            width: 100%
