header
    display: flex
    justify-content: center
    align-items: center
    width: 95%
    height: 8%
    margin: auto
    padding-top: 20px
    vertical-align: middle

.logo
    display: flex
    align-items: center
    font-size: 35px

    & img
        margin-right: 10px


@media only screen and (max-width: 900px)
    .logo

        & img
            width: 180px
