header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 8%;
    margin: auto;
    padding-top: 10px;
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.logo img {
    width: 45px;
    height: 40px;
    /* Move logo closer for the new year theme */
    /* margin-right: 10px; */
}

.chat {
    width: 45px;
    height: 45px;
    background-color: var(--bright-bg);
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.chat img {
    cursor: pointer;
    width: 25px;
}

.chat:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 900px) {
    .header {
        justify-content: "center";
    }

    .logo {
        padding: 5px 15px;
        border-radius: 20px;
        background-color: var(--bright-bg);
        font-size: 25px;
    }

    .logo img {
        /* 10px is for the new year theme, 5px for default */
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }
}