.container {
    display: flex;
    margin-top: 75px;
    height: calc(92% - 75px);
    width: 100%;
}

.history-container {
    border-top-left-radius: 20px;
    padding: 10px 0;
    height: 100%;
    width: 30%;
    background-color: var(--bright-bg);
}

.history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.history-header span {
    padding-right: 25px;
    padding-bottom: 10px;
    font-size: 40px;
}
.history-header img {
    margin-left: 25px;
    width: 40px;
}